@import "tailwindcss";

@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazirmatn-RD-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazirmatn-RD-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazirmatn-RD-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazirmatn-RD-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazirmatn-RD-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazirmatn-RD-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazirmatn-RD-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazirmatn-RD-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazirmatn-RD-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@theme{
    --font-vazir:"vazir";

    
    --color-primary-color:#ed1944;
    --color-border-color : border-gray-300;
}

@utility container{
    padding-inline:10px;
    margin-inline:auto;
    @variant sm{
        padding-inline:20px;
    }
    @variant md{
        padding-inline:32px;
    }
   
    
}


